@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-dark-cyan-extra: hsl(158, 36%, 20%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-white-secondary: hsl(0, 0%, 60%);

  --font-weight-bold: 700;
  --font-weight-medium: 500;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
.price-section {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

/* general style */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-cream);
  margin: 1.5rem;
  display: grid;
  place-content: center;
  font-size: 0.875rem;
  font-size: var(--neutral-dark-grayish-blue);
}
.main {
  display: grid;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--neutral-white);
  max-width: 600px;
  margin-bottom: 2rem;
}
.category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;
  font-weight: var(--font-weight-medium);
}
.perfume-description {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  color: var(--neutral-white-secondary);
}
.title {
  font-size: 2rem;
  font-family: 'Fraunces', serif;
  color: var(--neutral-very-dark-blue);
}
.description {
  font-size: 0.875rem;
}
.price-actual {
  color: var(--primary-dark-cyan);
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
}
.price-original {
  font-size: 0.875rem;
}
.button {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  border: none;
  background-color: var(--primary-dark-cyan);
  color: var(--neutral-white);
  font-weight: var(--font-weight-bold);
  transition: all 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.button:is(:hover, :focus) {
  background-color: var(--primary-dark-cyan-extra);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 660px) {
  .perfume-description {
    padding: 2rem;
  }
  .main {
    grid-template-columns: 1fr 1fr;
  }
}
